# Byte-compiled / environment
__pycache__/

# Virtual environments
.venv/
venv/
ENV/
env/

# Python
*.pyc
*.pyo
*.pyd
*.sqlite3
db.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Static files collected
staticfiles/

# Logs
*.log

# env files
.env

